<!DOCTYPE html>

    <%- include('partials/header') %>
   
        <div class="welcome-container">
            <h1>Welcome</h1>
            <p>We offer a variety of premium services to make you feel pampered, refreshed, and beautiful!<br>
            Whether you're looking for a classic manicure, a trendy design, or a relaxing spa pedicure, we have something special for you.<br>
            Take a look around and make an appointment online today!</p>
        </div>
        
        <div class="explore-container">
            <h3>Explore Our Services</h3>
            <div class="services-container">
             <% for (var i = 0; i < servicesList.length; i++) { %>
                <div class="service-item">
                    <img src="<%= servicesList[i].image %>" alt="<%= servicesList[i].generalServices %>" class="service-image">
                    <h4><%= servicesList[i].generalServices %></h4>
                    <h5>Price Range: <%= servicesList[i].priceRange %></h5>                   
                </div>
                <% } %>
            </div>           
            <button onclick="window.location.href='/services';" class="service-button">See More</button>
        </div>

        <div class="contact-container">
            <h3>Contact Us</h3>
            <button onclick="window.location.href='/contact';" class="contact-button">Send Us a Message</button>
        </div>
        
        <div class="appointment-container">
            <h3>Make An Appointment</h3>
            <button onclick="window.location.href='/appointments';" class="appointment-button">Check the Calendar</button>
        </div>

<%- include('partials/footer') %>